/* General */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, button, a {
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 222, 255);
}

body {
  margin: 0;
  background: black;
}

button, a, .to-the-top-link {
  cursor: pointer;
  z-index: 11;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

section, .to-the-top-link {
  z-index: 11;
}

section {
  z-index: 11;
  padding: 2em 1em;
  min-height: 100vh;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}

h2 {
  font-size: 2.5rem;
}

.testimonial-img {
  width: 100%;
  border-radius: 0.6em;
}

blockquote {
  font-style: italic;
  line-height: 1.7;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}

.to-the-top-link {
  position: fixed;
  top: 3%;
  right: 4%;
  padding: 0.6em;
  border-radius: 50%;
  background-color: #56007a;
}

.rocket-icon {
  width: 35px;
}

a {
  text-decoration: none;
}

/* Shadows */ 
.to-the-top-link {
  box-shadow: 0 0 10px rgb(143, 0, 204);
}

.get-started-btn, .get-started-btn:hover {
  box-shadow: 0 0 2px rgb(143, 0, 204);
  text-shadow: 0 0 2px rgb(143, 0, 204);
}


/* Shared Styles in Sections */
.features-section, .features, .testimonials-section, .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.hero-text, .final-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Hero */

.hero-section {
  background: #56007a;
  background: linear-gradient(180deg,rgba(86, 0, 122, 1) 0%, rgba(61, 0, 79, 1) 11%, rgba(0, 0, 0, 1) 100%);
  color: white;
  display: flex;
  justify-content: center;
}

.hero-text {
  gap: 2em;
  max-width: 1200px;
  width: 100%;
}

.hero-text > h1 {
  font-size: 2em;
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.hero-text > p {
  font-size: 1.4em;
  color: lightgrey;
}

.get-started-btn {
  font-size: 1.2rem;
  background-color: rgb(66, 0, 66);
  border: none;
  padding: 0.5em 1em;
  border-radius: 10em;
  animation: pulse 1s ease-in-out infinite alternate;
  animation-fill-mode: both;
}

/* Features Section */

.features-section {
  background-color: #000000;
}

.feature-title, .feature {
  display: flex;
  gap: 1em;
}
.feature-title {
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.feature {
  flex-direction: column;
  background-color: #2d0041;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 8px 8px 0 rgb(119, 23, 160);
}

/* Testimonials Section */

.testimonials-section {
  background: #000000;
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(67, 0, 112, 1) 100%);
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #2d0041;
  padding: 1em;
  border-radius: 1em;
}

.quote-author {
  font-size: 1.2rem;
  font-weight: 600;
  align-self: flex-end;
}


/* Last Section */

.final-section {
  gap: 2.5em;
  background: #000000;
  background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(67, 0, 112, 1) 100%);
}

.final-section > h2 {
  font-size: 2rem;
}

/* Utility */

.visible {
  transform: translate(0);
  opacity: 1;
}

/* Keyframes */

@keyframes pulse {
  100% {
    box-shadow: 0 0 20px rgb(143, 0, 204);
    text-shadow: 0 0 20px rgb(143, 0, 204);
  }
}


@media (min-width: 425px) {
  .features-section {
    gap: 3em;
  }

  .features {
    gap: 3em;
  }
}